# Python
__pycache__/
.venv

# UI/GTK
*.ui~
\#*.ui#
.ruff_cache

# Env
.env

# DB
db.json
settings.json

# Logs
features-analyzer.log

# Bin
*.pkl
paper/document.aux
paper/document.idx
paper/document.ilg
paper/document.ind
paper/document.loe
paper/document.lof
paper/document.log
paper/document.lot
paper/document.out
paper/document.pdf
paper/document.synctex.gz
paper/document.tex
paper/document.toc
paper/labepi.bst
paper/labepi.ist
paper/Makefile
paper/build/document.aux
paper/build/document.bbl
paper/build/document.fdb_latexmk
paper/build/document.fls
paper/build/document.idx
paper/build/document.loe
paper/build/document.lof
paper/build/document.log
paper/build/document.lot
paper/build/document.out
paper/build/document.pdf
paper/build/document.synctex.gz
paper/build/document.toc
paper/build/content/abstract.aux
paper/build/content/commands.aux
paper/build/content/cover.aux
paper/build/content/dedication.aux
paper/build/content/glossary.aux
paper/build/content/record.aux
paper/build/content/signatures.aux
paper/build/content/thanks.aux
paper/build/content/appendix/1/text.aux
paper/build/content/chapter/1/text.aux
paper/build/content/chapter/2/text.aux
paper/build/content/chapter/3/text.aux
paper/build/content/chapter/4/text.aux
paper/content/abstract.aux
paper/content/abstract.tex
paper/content/bibliography.bib
paper/content/commands.aux
paper/content/commands.tex
paper/content/cover.aux
paper/content/cover.tex
paper/content/dedication.aux
paper/content/dedication.tex
paper/content/glossary.aux
paper/content/glossary.tex
paper/content/record.aux
paper/content/record.tex
paper/content/signatures.aux
paper/content/signatures.tex
paper/content/thanks.aux
paper/content/thanks.tex
paper/content/appendix/1/text.aux
paper/content/appendix/1/text.tex
paper/content/chapter/1/text.aux
paper/content/chapter/1/text.tex
paper/content/chapter/2/text.aux
paper/content/chapter/2/text.tex
paper/content/chapter/3/text.aux
paper/content/chapter/3/text.tex
paper/content/chapter/4/text.aux
paper/content/chapter/4/text.tex
paper/image/labepi-eps-converted-to.pdf
paper/image/labepi.eps
paper/image/metodologia-eps-converted-to.pdf
paper/image/metodologia.eps
paper/image/ufrn-eps-converted-to.pdf
paper/image/ufrn.eps
paper/image/source/labepi.svg
paper/image/source/metodologia.svg
paper/image/source/ufrn.svg
