[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygobject = "==3.48.1"
matplotlib = "==3.8.3"
numpy = "==1.26.4"
pandas = "==2.2.1"

[dev-packages]
lxml = "*"
pre-commit = "*"
pygobject-stubs = "==2.10.0"
ruff = "*"

[requires]
python_version = "3.12"
