#notebook_container {
  border-radius: 0.5rem;
  border-width: 3px;
  border-color: rgba(0, 0, 0, 0.1);
  border-style: solid;

  margin: 0.3rem;
  padding-top: 0.5rem;
}

#notebook_item {
  border: none;
}

#head_bar {
  font-size: 1.2rem;
}
