#sidebar-item {
    border-radius: 0.5rem;
    border-width: 3px;
    border-color: rgba(0, 0, 0, 0.05);
    border-style: solid;

    margin: 0.3rem;
}

#status_button {
    background-color: @black-600;
}

#head-bar {
    font-size: 0.9rem;
    font-weight: 600;

    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-color: @black-700;
}
