.main-color-1 {
  color: #002f55;
}
.main-bg-color-1 {
  background-color: #002f55;
}
.main-color-2 {
  color: #232852;
}
.main-bg-color-2 {
  background-color: #232852;
}
.main-color-3 {
  color: #411e45;
}
.main-bg-color-3 {
  background-color: #411e45;
}

.color-1-100 {
  color: #cce8ff;
}
.bg-color-1-100 {
  background-color: #cce8ff;
}
.color-1-200 {
  color: #99d1ff;
}
.bg-color-1-200 {
  background-color: #99d1ff;
}
.color-1-300 {
  color: #66bbff;
}
.bg-color-1-300 {
  background-color: #66bbff;
}
.color-1-400 {
  color: #33a4ff;
}
.bg-color-1-400 {
  background-color: #33a4ff;
}
.color-1-500 {
  color: #008dff;
}
.bg-color-1-500 {
  background-color: #008dff;
}
.color-1-600 {
  color: #0071cc;
}
.bg-color-1-600 {
  background-color: #0071cc;
}
.color-1-700 {
  color: #005599;
}
.bg-color-1-700 {
  background-color: #005599;
}
.color-1-800 {
  color: #002f55;
}
.bg-color-1-800 {
  background-color: #002f55;
}
.color-1-900 {
  color: #001c33;
}
.bg-color-1-900 {
  background-color: #001c33;
}

.color-2-100 {
  color: #dbddf0;
}
.bg-color-2-100 {
  background-color: #dbddf0;
}
.color-2-200 {
  color: #b8bce0;
}
.bg-color-2-200 {
  background-color: #b8bce0;
}
.color-2-300 {
  color: #949ad1;
}
.bg-color-2-300 {
  background-color: #949ad1;
}
.color-2-400 {
  color: #7079c2;
}
.bg-color-2-400 {
  background-color: #7079c2;
}
.color-2-500 {
  color: #4c57b3;
}
.bg-color-2-500 {
  background-color: #4c57b3;
}
.color-2-600 {
  color: #3d468f;
}
.bg-color-2-600 {
  background-color: #3d468f;
}
.color-2-700 {
  color: #2e346b;
}
.bg-color-2-700 {
  background-color: #2e346b;
}
.color-2-800 {
  color: #232852;
}
.bg-color-2-800 {
  background-color: #232852;
}
.color-2-900 {
  color: #0f1124;
}
.bg-color-2-900 {
  background-color: #0f1124;
}

.color-3-100 {
  color: #eddbf0;
}
.bg-color-3-100 {
  background-color: #eddbf0;
}
.color-3-200 {
  color: #dcb8e0;
}
.bg-color-3-200 {
  background-color: #dcb8e0;
}
.color-3-300 {
  color: #ca94d1;
}
.bg-color-3-300 {
  background-color: #ca94d1;
}
.color-3-400 {
  color: #b971c1;
}
.bg-color-3-400 {
  background-color: #b971c1;
}
.color-3-500 {
  color: #a74db2;
}
.bg-color-3-500 {
  background-color: #a74db2;
}
.color-3-600 {
  color: #863e8e;
}
.bg-color-3-600 {
  background-color: #863e8e;
}
.color-3-700 {
  color: #642e6b;
}
.bg-color-3-700 {
  background-color: #642e6b;
}
.color-3-800 {
  color: #411e45;
}
.bg-color-3-800 {
  background-color: #411e45;
}
.color-3-900 {
  color: #210f24;
}
.bg-color-3-900 {
  background-color: #210f24;
}
